body {
  background-color: #040404;
  color: #00ff99;
  font-family: monospace;
  text-align: center;
  margin: 0;
  padding: 0;
}

canvas {
  background-color: #101010;
  display: block;
  margin: 20px auto;
  border: 2px solid #00ff99;
}
